*.pyc
*.pkl
*.json
*.*~
*.txt
*.csv
*.pickle
.ipynb_checkpoints/
.DS_Store
data_v1/
data_v2/
data/
summary/
output/
debug/
saved_sessions/
generated/
generated_debug/
generated_model/
log/
log_orig/
database_settings.txt
.data/
venv/
.venv/
core/
migrations/
postgres_data/
*.mp3
*.mp4
/node_modules
*.log*
.env.development.local
.env.test.local
.env.production.local
build/
coverage/
*.jar
*.jnl
